
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.cities_table_bg_container{
    padding: 30px;
    height: 100vh;
    width: 80%;
    text-align: center;
    margin: auto;
}
.heading_input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.cities_heading {
    font-size: 26px;
    line-height:16px;
}

