

*{
  font-family:'geomanist bold';
}
.App {
  /* background-image: url(); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.873)), url('./assets/weather_bg.png'); */
  background-image: linear-gradient(rgba(62, 145, 201, 0.712), rgba(16, 61, 39, 0.789)), url('./assets/weather_bg.png');
  height: 100vh;
  background-size: cover;
}